/* These are the styles for the client application */
/* It contains the solution to the first assignment */

* {
    font-family: sans-serif;
}

BODY {
    padding: 10px;
    font-family: sans-serif;
}

#titlebox {
    background-color: blue;
    color: white;
    height: 200px;
    padding: 10px;
}

#title {
    text-align: center;
    font-size: 500%;
}

FOOTER {
  background-color: rgb(0, 0, 121);
  color: white;
}

FOOTER > DIV {
  display: inline-block;
  margin: 20px;
}

FOOTER A:link, FOOTER A:visited {
  color: white;

}

/* To format the menu */

#topbar, NAV {
    background-color: darkblue;
    color: white;
    height: 60px;
}

DIV#topbar {
    border: solid black 1px;
}

LI.hidden {
    display: none
}

NAV > * {
    display: inline-block;
}

#searchboxarea {
  float: right;
  margin: 15px;
}

NAV > UL > LI {
    list-style: none;
    width: 150px;
    display: inline-block;
}

.MenuItem {
    list-style: none;
    width: 150px;
    display: inline-block;
}

NAV > UL > LI > A {
    color: white;
    text-decoration: none;
}

NAV A {
    color: white;
    text-decoration: none;
}

@media screen and (min-width:700px) {
    #menuicon {
        display:none;
    }

    #searchicon {
        display:none;
    }

    #sidebar {
        float: right;
        background-color: lightyellow;
        padding: 20px;
    }
}

@media screen and (max-width:700px) {
    #topbar { height:10px; }

    #title {
        text-align: center;
        font-size: 200%;
    }
        
    #menuicon { margin:10px; }

    #menuitemlist { display: none; }

    #searchicon { margin:10px; }

    #searchbox { display:none }

    #sidebar {
        background-color: lightyellow;
        padding: 20px;
        border: solid 5px #e0e0c0;
    }

}

/* To format boxes and books */


#listofbooks {
    padding: 0px;
}

#listofbooks>li {
    list-style: none;
    width: 375px;
    height: 600px;
    margin: 18px;
    display: inline-block;
    vertical-align: top;
    background-color: #AAAAAA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* 5px rounded corners */
}

#listofbooks>li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#listofbooks>li>.bookbox>div {
    display: inline-block;
    width: 70%;
    margin: 20px;
}

#listofbooks>li>div {
    text-align: center;
}

#listofbooks>li>div>img {
    margin: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* 5px rounded corners */
}

#listofbooks>li>div>img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.titleBox>h2 {
    height: 50px;
}

.category {
    height: 10px;
}


/* To format the stars */

.star {
    width:1em;
    font-size:30px;
    color:#ccc;
}

.yellowstar {
    color:#ffc700;
}



/* Statistics Page */

#canvas-parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.canvas-child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}


/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    height: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}


/* Form the addBooks page  inputBook*/

form {
    width: 60%;
    margin: 3rem auto;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: rgb(160, 160, 160);
    border: 4px solid #5e5e5e;
    padding-bottom: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

form:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

form>h2 {
    text-align: center;
}

form > div > label, form > div > input, form > div > select {
    display: inline-block;
    font-size: 20px;
    margin: 0.5rem auto;

}

form > div > label {
    width: 30%;
    text-align: right;
}

 
form > div > label+input, form > div > label+select {
    width: 30%;
    margin: 0 1% 0 4%;
}

#addAuthor {
    border-radius: 50%;
    background-color: lightgreen;
}

#addAuthor:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#submitNewBook {
    float: right;
    background-color: green;
    color: white;
    margin-right: 25px;
    font-size: 25px;
}

#submitNewBook:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
